.main-registro{
    height: 80vh;
    display: grid;
    place-items: center;
}

.container-registro, 
.container-inicio-sesion{
    background: transparent;
    width: 90%;
    max-width: 400px;
    height: auto;
    padding: 30px;
    margin: auto;
}

.container-registro form,
.container-inicio-sesion form{
    width: 100%;
    height: 100%;
    align-items: center;
}

.container-registro h2, 
.container-inicio-sesion h2{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: #000000;
    margin: 0 0 15px 0;
}

.container-registro label, 
.container-inicio-sesion label{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    color: #000000;   
}

.container-registro p, 
.container-inicio-sesion p{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 0.75em;
}

.container-registro a, 
.container-inicio-sesion a{
    text-decoration: none;
    color: #a1603d;
}

.container-registro a:hover, 
.container-inicio-sesion a:hover{
    color: #d2b69f;
}

.input-form{
    width: 100%;
    /* margin-left: 20px; */
    border: none;
    box-shadow:2px 9px 9px rgb(163, 163, 163);
    margin-bottom: 4%;
    font-size: 0.8em;
    height: 30px;
    padding: 0 0 0 6px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    color: #3f3f3f;
}

.input-form:focus{
    outline: none;
    box-shadow: 2px 9px 9px rgb(111, 111, 111);
    transform: translateY(-2px)
}

.label-checkbox{
    align-items: center;
    display: flex;
    font-size: 0.8em;
    user-select: none;
}

.label-checkbox:hover{
    cursor: pointer;
}

.input-checkbox{
    margin-right: 2.5px;
    accent-color: #bf7953;
}

.input-checkbox:hover{
    cursor: pointer;
    /* box-shadow: 0 0 11px #776a62; */
}

.btn-input{
    width: 40%;
    height: 35px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    border-radius: 0;
    margin: 10px 0 10px 0;
    border: 1px solid #a1603d;
    background-color: #bf7953;
    color: white;
    transition: all 0.3s ease;
}

.btn-input:hover{
    background-color:white;
    color: #bf7953;
    cursor: pointer
}