*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    width: 100%;
    min-height: 100vh;
    background-color: white;
    user-select: none;
    display: flex;
}

.nav-lateral-perfil{
    box-shadow: 0 0 9px #a1603d ;
    min-height: 100vh;
    width: 20%;
}

.encabezado-perfil{
    padding: 30px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 20px;
    border-bottom: 1px solid #8a5234;
    width: 100%;
    /* box-shadow: 0px 3px 9px #a1603d; */
}

.user-avatar-circle {
    width: 120px;
    height: 120px;
    background-color: #a1603d;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 10px;
    /* transition: shadow 0.2s ease; */
}

.user-avatar-circle:hover {
    background-color: #8a5234;
}

.links-menu-lateral{
    padding: 0 30px;
}

.links-menu-lateral ul{
    display: grid;
    gap: 10px;
}

.links-menu-lateral ul li{
    list-style: none;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    /* font */
}

.links-menu-lateral ul li a{
    text-decoration: none;
    color: #000000;
}

#resumen {
    padding: 40px;
    flex-grow: 1; /* Esto hace que ocupe todo el espacio derecho */
    background-color: transparent;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#saludo-nombre-usuario{
    color: #8a5234;
    font-style: oblique;
}

.dashboard-grid {
    display: grid;
    gap: 30px;
    margin-top: 30px;
}

.tarjeta-stats {
    background: white;
    padding: 20px;
    border-radius: 8px;
    border-left: 5px solid #a1603d; /* Un detalle elegante */
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.titulo-stats {
    display: block;
    color: #666;
    font-size: 0.9rem;
}

.valor-stats {
    font-size: 1.8rem;
    font-weight: bold;
    color: #a1603d;
}

.seccion-info{
    margin-top: 30px;
}