.nav-lateral-perfil{
    min-height: 100vh;
    width: 20%;
    border-right: 1px solid #6f503f;
    box-shadow: 1px 2px 9px #6f503f;
}

.encabezado-perfil{
    padding: 30px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 20px;
    border-bottom: 1px solid #8a5234;
    width: 100%;
    box-shadow: none;
}

.user-avatar-circle-nav {
    width: 120px;
    height: 120px;
    background-color: #a1603d;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 10px;
    /* transition: shadow 0.2s ease; */
}

.user-avatar-circle-nav:hover {
    background-color: #8a5234;
}

.links-menu-lateral{
    padding: 0 30px;
}

.links-menu-lateral ul{
    display: grid;
    gap: 10px;
}

.links-menu-lateral ul li{
    list-style: none;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.links-menu-lateral ul li a{
    text-decoration: none;
    color: #000000;
    transition: all 0.2s ease-in;
}

.links-menu-lateral ul li a:hover{
    color: #8a5234;
    padding-left: 5px;
}

