#resumen {
    padding: 40px;
    flex-grow: 1; /* Esto hace que ocupe todo el espacio derecho */
    background-color: transparent;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.bienvenida{
    display: inline-block;
    width: 100%;
    box-shadow: none;
}
.bienvenida h1{
    text-align: left;
    padding: 0 0 12px 0;
}

#saludo-nombre-usuario{
    color: #8a5234;
    font-style: oblique;
}

.dashboard-grid {
    display: grid;
    gap: 30px;
    margin-top: 30px;
}

.tarjeta-stats {
    background: white;
    padding: 20px;
    border-radius: 8px;
    border-left: 5px solid #a1603d; /* Un detalle elegante */
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.titulo-stats {
    display: block;
    color: #666;
    font-size: 0.9rem;
}

.valor-stats {
    font-size: 1.8rem;
    font-weight: bold;
    color: #a1603d;
}

.seccion-info{
    margin-top: 30px;
}